body{
  font: 1.2em / 1.4em serif;
  max-width: 30em;
  padding: 0 0.6em 3em;
}
nav > a{
  margin-right: 2em;
}
@media screen and (max-width: 1000px){
  body{
  font: 2.8em / 1.4em serif;
  max-width: 100%
  }
}
