*{
	margin: 0;
	background: white;
	color: black;
	text-align: center;
	font-family: 'Times New Roman', serif;
  }
html{
	font-size: 16px;
  }
h1{
	font-size: 4rem;
	margin: 3rem 0 6rem;
  }
h2{
	font-size: 3rem;
	margin: 2rem 0 4rem;
  }
h3{
	font-size: 2rem;
  }
p{
	font-size: 1rem;
  }
hr{
 margin-bottom: 0.5rem;
  }
br{
  margin: 6rem 0 0;
  }
a{
  text-decoration: none;
  }
img{
	max-width: 100%;
	height: auto;
	display: block;
	margin: 8rem auto 1rem;
  }
audio{
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	margin: 1.4rem auto;
  }
.audio-text{
	border: 1px solid black;
	height: auto;
	width: 16rem;
	padding: 1rem;
	display: inline-block;
	vertical-align: middle;
	margin-right: 4rem;
  filter: drop-shadow(8px 8px 0px black);
  }
.cc{
	font-style: italic;
	position: relative;
	margin: 30% 0 2rem;
  }
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  }
.btn a{
  margin: 0 4vw 0;
  padding: 0.5rem 1rem 1rem; 
  border: 1px solid black;
  filter: drop-shadow(8px 8px 0px black);
  }
.img_hlinks a{
	display: inline-block;
	margin: 4rem 6vw 0;
  }
.foto img{
  border: 1px solid black;
  filter: drop-shadow(8px 8px 0px black);
  }
.foto a{
  display: inline-block;
  }
