*{
	margin: 0;
	background: white;
	color: black;
	text-align: center;
	font-family: 'Times New Roman', serif;
  text-decoration: none;
  }
html{
	font-size: 16px;
  }
h1{
	font-size: 6.4rem;
	margin: 1.6rem 0 3.0rem;
  }
h2{
	font-size: 4.5rem;
	margin: 1.8rem 0;
  }
h3{
	font-size: 2rem;
	margin: 1.6rem 0;
  }
p{
	font-size: 1rem;
  }
a:hover{
  text-decoration: underline;
  }
a:active{
  opacity: 40%;
  }
.cc{
	font-style: italic;
	position: relative;
	margin: 30% 0 2rem;
  }
.cc hr{
  margin-bottom: 0.5rem;
  }
.btn a{
	padding: 0 1rem 0.5rem;
  }
.btn a, .foto img, .playlist, .album img{
  border: 1px solid black;
  filter: drop-shadow(8px 8px 0px black);
  }
.foto_nav a{
	display: inline-block;
	margin: 0 2rem 8rem;
  padding: 0 1rem 1.3rem;
  }
.foto p{
  margin: 0.8rem 0 8rem;
  }
.playlist{
  margin: 3rem auto;
  width: 24rem;
  height: auto;
  }
.playlist h3{
  text-align: left;
  margin: 1rem;
  }
.album h3{
  margin: 0.5rem auto 8rem;
  }
