body, h1, h2, h3, p, a{
	background: white;
	color: black;
	font-family: 'Times New Roman', serif;
  }
html{
	font-size: 16px;
  }
h1{
  text-align: center;
	font-size: 6.4rem;
	margin: 1.6rem 0 3.0rem;
  }
h2{
	font-size: 4.5rem;
	margin: 1.8rem 0;
  }
h3{
	font-size: 2rem;
	margin: 1.6rem 0;
  }
p{
	font-size: 1rem;
  line-height: 0.4rem;
  }
a{
  text-decoration: none;
  }
a:hover{
  text-decoration: underline;
  }
.cc{
  text-align: center;
	font-style: italic;
	margin-top: 2rem;
  }
img, .box{
  border: 1px solid black;
  }
.foto{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  }
.foto a{
  margin: 0 1rem;
  }
.foto p{
  margin: 0.2rem 0 4rem;
  text-align: center;
  }
.box{
  margin: auto;
  width: 24rem;
  }
.box h2, h3, p{
  margin: 1rem;
  }
.album{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
  }
.album div{
  margin: 0 1rem;
  }
.album h3{
  text-align: center;
  margin: 0.5rem auto 8rem;
  }
@media(max-width: 1000px) {
	.foto, .album{
  grid-template-columns: auto;
	}
}
