*{
	margin: 0;
	background: black;
	color: white;
	text-align: center;
	font-family: 'Times New Roman', serif;
}
html{
	font-size: 16px;
}
h1{
	font-size: 4rem;
	margin: 2rem 0;
}
h2{
	font-size: 3rem;
	margin-bottom: 4rem;
}
h3{
	font-size: 2rem;
}
p {
	font-size: 1rem;
}
.hlinks a{
	margin: 0 6vw;
}
.img_hlinks a{
	display: inline-block;
	margin: 4rem 6vw 0;
}
a{
	transition: 0.15s;
}
a:hover{
	opacity: 80%;
}
a:active{
	opacity: 60%;
}
img{
	max-width: 50%;
	height: auto;
	width: auto;
	display: block;
	margin: 8rem auto 0.5rem;
}
audio{
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	margin: 4rem auto;
}
.audio-text{
	border: 1px solid white;
	height: auto;
	width: 16rem;
	padding: 1rem;
	display: inline-block;
	vertical-align: middle;
	margin-right: 4rem;
}
.cc{
	font-style: italic;
	position: relative;
	margin: 30% 0 2rem;
}
