*{
	margin: 0;
	background: white;
	color: black;
	text-align: center;
	font-family: 'Times New Roman', serif;
  text-decoration: none;
  transition: 0.15s;
  }
html{
	font-size: 16px;
  }
h1{
	font-size: 6.4rem;
	margin: 1.6rem 0 3.0rem;
  }
h2{
	font-size: 4.5rem;
	margin: 1.8rem 0;
  }
h3{
	font-size: 2rem;
	margin: 1.6rem 0;
  }
p{
	font-size: 1rem;
  }
a:hover{
  opacity: 80%;
  }
a:active{
  opacity: 40%;
  }
.cc{
	font-style: italic;
	position: relative;
	margin: 30% 0 2rem;
  }
.cc hr{
  margin-bottom: 0.5rem;
  }
.triptyk br{
  margin: 2rem 0 2rem;
  }
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  }
.btn a{
	padding: 0 1rem 0.5rem;
  }
.btn a, .foto img{
  border: 1px solid black;
  filter: drop-shadow(8px 8px 0px black);
  }
.img_nav a{
	display: inline-block;
	margin: 0 2rem 8rem;
  padding: 0 1rem 1.3rem;
  }
.demos{
	margin: 2rem 0 8rem;
  }
.foto a{
  max-width: 100%;
  max-height: 100%;
  }
.foto p{
  margin: 0.8rem 0 8rem;
  }
