body{
  font: 1.2em / 1.4em serif;
  margin: auto;
  max-width: 30em;
  padding: 0 0.6em 3em;
}
nav > a{
  margin-right: 2em
}
img{
  margin-top: 3em;
  border: solid black 1px;
  max-width: 30em

}
@media screen and (prefers-color-scheme: dark){
  body{
    color: white;
    background-color: #060606
  }
  a{
    color: #00b6f9
  }
}
@media screen and (max-width: 1000px){
  body{
  font: 2.8em / 1.6em serif;
  max-width: 100%
  }
  li{
    line-height: 2.6em
  }
  img{
    width: 100%;
    margin-right: 0.6em
  }
}
